* {
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", "Quicksand", sans-serif;
    background: url(11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(249, 244, 244);
}